@font-face {
  font-family: 'FuturaBold';
  src: url('assets/Futura\ Heavy\ font.ttf') format('truetype');
  /* Add additional src lines for different font formats if available */
}
@font-face {
  font-family: 'FuturaBlack';
  src: url('assets/Futura\ Extra\ Black\ font.ttf') format('truetype');
  /* Add additional src lines for different font formats if available */
}

@font-face {
  font-family: 'FuturaLight';
  src: url('assets/futura\ light\ bt.ttf') format('truetype');
  /* Add additional src lines for different font formats if available */
}

html{
  font-family:'FuturaBold', sans-serif;
  color: #0c0c0c;
  font-size: 14px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav{
  position: sticky;
  top: 0;
  max-width:100vw;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: #0c0c0c;
}
.barOne {
  position: absolute;
  top: 0%;
  width: inherit;
  height:auto;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
  pointer-events: none;
  z-index: 20;
  
}
.barOne > * {
  pointer-events: auto;
}
.name{
  display: flex;
  align-items: center;
  gap:10px;
}

.logo{
  background-repeat: no-repeat;
  object-fit: cover;
  aspect-ratio: 104/84;
  width:60px;
  background-image: url('assets/SVG/pzSmile.svg');
}

.cta{
  background-color: #ff0000;
  font-family: 'FuturaBold';
  font-size: 14px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;

}

.downArrow{
  background-repeat: no-repeat;
  object-fit: cover;
  aspect-ratio: 104/84;
  width:60px;
  background-image: url('assets/SVG/arrow_down.svg');
}

h1{
  font-size: 16px;
}
.mouseHover{
  cursor: pointer;

}
#nav{
  font-size: 16px;
  list-style: none;
  display: flex;
  gap:20px;
}

#projects{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap:5px;
}

.subNav {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: #0c0c0c;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  max-width: 100vw;
  overflow-x: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  scroll-snap-type: x mandatory;

}
.subNav.visible {
  opacity: 1;
  visibility: visible;
}

.rotate {
  transform: rotate(180deg);
  /* transition: transform 0.3s ease-in-out; */
}

.subNav::-webkit-scrollbar {
  display: none;
}

.subNav {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.projectBox{
  width:20vw;
  min-width: 200px;
  aspect-ratio: 16/9;
  background: linear-gradient(213.67deg, rgba(255,0,0,0.8) -11%, rgba(217, 217, 217, 0) 62.66%);
  background: url("assets/1x/walkingwall.png");
  background-position: center;
  background-size: cover;
  border-color: #FF0000;
  border: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 0, 0, 1);
}
.content{
  position: relative;
  width: 90vw;
  aspect-ratio: 4/5;
  max-width: 1000px;
  /* min-width: 760px; */
  background: linear-gradient(213.67deg, rgba(255,0,0,0.8) -11%, rgba(217, 217, 217, 0) 62.66%);
  border: 1px solid rgba(255, 0, 0, 1);
  margin-top: 100px;
  border-radius: 10px;
}

.contentBoxes{
  margin-top: 5px;
}
#main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index:-1;
}
.contentsInside{
  position: absolute;
  bottom: 0;
  right: 0;
}
.badges{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.badge{
  width:30px;
}
#undertale{
  width: 20px;
}
#nav span a {
  position: relative;
  display: inline-block;
  
}

#nav span a::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff0000; /* Set your desired underline color */
  transition: width 0.3s ease; /* Add smooth transition effect */
}

#nav span:hover a::after {
  width: 100%; /* Expand the width to reveal the underline */
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.comingSoon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.comingSoonText {
  color: rgba(128, 128, 128, 0); /* Default color for the text */
  transition: color 0.3s ease; /* Smooth transition on color change */
  text-decoration: none;
}
.hoverInteract:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(0.9); /* Scale down the size on hover */
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.comingSoon:hover .comingSoonText {
  opacity: 1;
  color: #ff0000;
}

footer{
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  max-width: 100vw;
  padding-bottom: 80px;
}
.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 100vw;
  margin-top: 20px;
}
.socialItem{
  width:20px;
}
.nowPlaying{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.right{
  gap: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.left{
  gap: 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1px;
}
.spotifyImport{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}
#songArtist{
  cursor: alias;
}
#songName{
  color: #FF0000;
}
a{
  text-decoration: none;
  color: #0c0c0c;
}
#email{ 
  color: #FF0000;
  /* font-size:18px; */
  font-family: 'FuturaBlack';
}
#emailMe{
}
#ig{
  width: 18px;
}
#be{
  width: 24px;
}
#spotify{
  width: 18px;
}

@media (max-width: 768px) {
  nav{
    position: absolute;
  }
  #nav span:hover a::after {
    width: 0%; /* Expand the width to reveal the underline */
  }
  .barOne {
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 100svh;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0);
    /* pointer-events: none; */
  }

  .name {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .subNav {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: max-content; /* Adjust the max-height as per your needs */
    overflow-y: auto;
    max-height: calc(100svh - 100px); /* Adjust the height as per your needs */
    margin-top: 40px;
  }

  #parth {
    text-align: center;
    opacity: 0;

  }

  .logo {
    margin-bottom: 10px;
    padding-top: 10px;
  }

  #nav {
    position: absolute;
    padding-inline-start: 0;
  }

  .cta {
    background-color:rgba(255, 255, 255, 0);
    font-family: 'FuturaBold';
    font-size: 14px;
    color: #ff0000;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50px);
    gap: 5px;
  }

  .content{
    margin-top: 20px;
    width: 60vw;
    min-width: none;
  }
  .contentBoxes{
    margin-top: 180px;
    margin-bottom: 100px;
  }
  .badge{
    width:20px;
  }
  
#undertale{
    width: 15px;
  }
  .projectBox{
    width: 70vw;
  }
  footer{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .contact{
    flex-direction: row;
    gap: 10px;
  }
  .left{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .spotifyImport{
    flex-direction: row;
    gap: 10px;
  }
  
}
