@font-face {
  font-family: 'FuturaBold';
  src: url('assets/Futura\ Heavy\ font.ttf') format('truetype');
  /* Add additional src lines for different font formats if available */
}
@font-face {
  font-family: 'FuturaLight';
  src: url('assets/futura\ light\ bt.ttf') format('truetype');
  /* Add additional src lines for different font formats if available */
}


body {
  margin: 0;
  font-family: "FuturaBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "FuturaLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
